body{background-color:#fff;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:200}
main{padding:10px}
section{margin-top:10px;margin-bottom:10px}
h1{margin-bottom:.5em;font-weight:400}
h3{margin:.5em 0 0;font-weight:200}
input,textarea{margin:0;font-size:90%}
code,.code{font-family:monospace;word-break:break-all}
.box{border:1px solid #AAA;padding:5px;overflow:hidden}
.ng-invalid{box-shadow:0 0 6px red}